<h1>Show page</h1>

<h3><%= @portfolio_item.title %></h3>
<hr>
<h6><%= @portfolio_item.subtitle %></h6>
<p><%= @portfolio_item.body %></p>
<%= image_tag @portfolio_item.main_image if !@portfolio_item.main_image.nil? %>

<h3>Technologies used</h3>
<% @portfolio_item.technologies.each do |t| %>
	<p><%= t.name %></p>
<% end %>

<hr>


