<div class="container">
	<div class="row">
		<div class="col">
			<%= image_tag @portfolio_item.main_image if !@portfolio_item.main_image.nil? %>
		</div>
		<div class="col">
			<h3><%= @portfolio_item.title %></h3>
			<hr>
			<h6><%= @portfolio_item.subtitle %></h6>
			<p><%= @portfolio_item.body %></p>
			<hr>
			<h5>Technologies used</h5>
			<% @portfolio_item.technologies.each do |t| %>
				<p><%= t.name %></p>
			<% end %>

			
		</div>
	</div>
</div>



